.bg-danger1{
    background-color: #EF5A5C;
}
.list-group{
    width: 253px !important;
    margin-left: -20px !important;
}
button{
    width: 200px !important;
}
.bg-danger2{
    background-color: #6F99C0;
}
.bg-danger3{
    background-color: #65C966;
}
.bg-danger4{
    background-color: #808080;
}
.text-h1{
    background-color: #dfdfdf;
}